body
  display flex
  justify-content center
  align-items center
button
  display flex
  align-items center
  padding 0.8em 1.3em 0.8em 0.9em
  border none
  border-radius 16px
  background #ad5389
  background linear-gradient(to right, #0f0c29, #302b63, #24243e)
  color white
  letter-spacing 0.05em
  font-weight 500
  font-size 17px
  font-family inherit
  svg
    margin-right 3px
    transition transform 0.5s cubic-bezier(0.76, 0, 0.24, 1)
    transform rotate(30deg)
  span
    transition transform 0.5s cubic-bezier(0.76, 0, 0.24, 1)
